<h2>ติดต่อเรา</h2>
<hr />
<div class="row">
    <div class="col-6">
        <h5>แผนที่</h5>
        <hr />
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1634.9843991745997!2d100.87755896595996!3d12.928908469373658!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3102960fbb74e433%3A0x4a138f6bb324fc09!2sWine%20Connection!5e0!3m2!1sth!2sth!4v1724744060587!5m2!1sth!2sth"
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div class="col-6">
        <h5>ที่อยู่ร้าน</h5>
        <div class="col-3">
            <div class="col-9"></div>
            <p>218 ถนนเลียบชายหาด เมืองพัทยา อำเภอบางละมุง ชลบุรี 20150</p>
            <h5>เบอร์ติดต่อร้าน</h5>
            <p>TEL : 02 305 5555</p>
            <div class="row">
                <h5>Social media</h5>
                <div class="row"></div>
                <i class="bi bi-facebook"></i>
                <i class="bi bi-instagram"></i>
                <div class="col-9"></div>
            </div>
        </div>