<h4>เมนูแนะนำจากทางร้าน</h4>
<h5>อาหารจานหลัก</h5>

<div class="row"></div>
<div class="col-9"></div>
<div class="col-3">
    <div class="card">
        <div class="text-center">
            <img src="https://s3-ap-southeast-1.amazonaws.com/cntatr-assets-ap-southeast-1-250226768838-55a62c9399d4d8a6/2019/11/%E0%B8%9A%E0%B8%B4%E0%B8%9A%E0%B8%B4%E0%B8%A1%E0%B8%9A%E0%B8%B1%E0%B8%9A-Bibimbab-800x600.jpg" class="rounded" style="width: 200px;">
        </div>
        <div class="card-body">
            <div class="card-title h5">
                ทดสอบ ทดสอบ
            </div>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
        </div>

        <div class="text-center">
            <img src="https://ik.imagekit.io/tvlk/blog/2019/11/Kun-Jang-Ke-Jang-800x534.jpg?tr=dpr-2,w-675" class="rounded" style="width: 200px;">
        </div>
        <div class="card-body">
            <div class="card-title h5">
                ทดสอบ ทดสอบ
            </div>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
        </div>




        <div class="card">
            <div class="text-center">
                <img src="https://s3-ap-southeast-1.amazonaws.com/cntatr-assets-ap-southeast-1-250226768838-55a62c9399d4d8a6/2019/11/%E0%B8%9A%E0%B8%B4%E0%B8%9A%E0%B8%B4%E0%B8%A1%E0%B8%9A%E0%B8%B1%E0%B8%9A-Bibimbab-800x600.jpg" class="rounded" style="width: 200px;">
            </div>
            <div class="col">
            <div class="card-body">
                <div class="card-title h5">
                    ทดสอบ ทดสอบ
                </div>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                    content.</p>
            </div>
    
            <div class="text-center">
                <img src="https://ik.imagekit.io/tvlk/blog/2019/11/Kun-Jang-Ke-Jang-800x534.jpg?tr=dpr-2,w-675" class="rounded" style="width: 200px;">
            </div>
            <div class="card-body">
                <div class="card-title h5">
                    ทดสอบ ทดสอบ
                </div>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                    content.</p>
            </div>

            
      
       
   